<div class="container-fluid">
    <form name="loginForm" ng-submit="loginForm.$valid && login()" class="form-horizontal">
        <div class="form-group" ng-class="{ 'has-error': loginForm.username.$invalid }">
            <label class="col-sm-2 control-label" for="username" translate="LOGIN.USERNAME"></label>
            <div class="col-sm-4">
                <input type="text" ng-model="model.username" class="form-control" name="username" required id="username" />
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': loginForm.apiKey.$invalid }">
            <label class="col-sm-2 control-label" for="api-key" translate="LOGIN.API_KEY"></label>
            <div class="col-sm-4">
                <input type="password" ng-model="model.apiKey" class="form-control" name="apiKey" required id="api-key" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn" ng-class="{ 'btn-primary': loginForm.$valid }" translate="LOGIN.SUBMIT"></button>
            </div>
        </div>
    </form>
</div>