@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "layout";
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../app/node_modules/font-awesome/scss/font-awesome";
@import "angular-csp";

a {
    cursor: pointer;
}

form.login-form {
    max-width: 700px;
    margin: 100px auto 0;
}